#Basic Syntax

**Define Function**

In [2]:
# multiply with function
def multiply(x, y):
    z = x * y
    return z
print(multiply(5, 6))

30

**Find the data type**

In [3]:
#type(multiply)
#type(1.2)
#type("Hello World!")
#type(3)
type(None)

NoneType

**Tuple:** An immutable data structure which cannot be altered unlike list

In [4]:
a = (1, 2, 3, 4, 5)
print(a)

(1, 2, 3, 4, 5)

**List:** Mutable data structure.

In [5]:
b = [1, 2, 3, 5, 6]
b.append(4)
for number in b:
    print(number)

1
2
3
5
6
4

**List concatenate**

In [6]:
strList = [9, 'abc', 'bcd', 'cde']
b+strList
print(b+strList)

[1, 2, 3, 5, 6, 4, 9, 'abc', 'bcd', 'cde']

**Repeat List with multiplication**

In [7]:
strList * 3

[9, 'abc', 'bcd', 'cde', 9, 'abc', 'bcd', 'cde', 9, 'abc', 'bcd', 'cde']

**Search in a List**

In [8]:
9 in strList

True

**Un pack list into saperate varialbe**

In [9]:
c, d, e, f = ["Joism", "Moon", "Roni", "Abdur Rahman"]
print(c)
print(d)
print(e)
print(f)

Joism
Moon
Roni
Abdur Rahman

**Strings**

In [10]:
#Access character from String
x = 'My Name Is Josim'
print(x[0])

M

In [11]:
#Access string range
x[0:2]

'My'

In [12]:
#Access whole string except last character
x[:-1]

'My Name Is Josi'

In [13]:
#Access range string from 10th character
x[10:]

' Josim'

In [14]:
# Concatenate two strings
fName = "Josim"
lName = "Uddin"
fullName = fName+ ' '+lName
fullName

'Josim Uddin'

In [15]:
#show the first word
fullName.split(' ')[0]

'Josim'

In [16]:
#Concatenate numreric value
strNum = 'One '+str(1)
strNum

'One 1'

**Dictionary :** Dictionary is collection which is not ordered but indexed also associated with key value pair

In [17]:
c = {"Name":"Josim", "Age":26}
print(c)

{'Name': 'Josim', 'Age': 26}

In [18]:
#Access values from dictionary
print(c['Name'] + ' ' + str(c['Age']))

Josim 26

In [19]:
# Access all keys from dictionary
for i in c:
    print(i)

Name
Age

In [20]:
#Access all values from dictionary
for i in c.values():
    print(i)

Josim
26

In [21]:
# iterate all items over dictionary
for name, age in c.items():
    print(name)
    print(age)

Name
Josim
Age
26

**Date and Time**

In [22]:
import datetime as dt
import time as tm

#print the current time in seconds
tm.time()

1558769683.1708493

In [23]:
#Convert timestamp to date
dtnow = dt.datetime.fromtimestamp(tm.time())
print(dtnow.year)

2019

In [24]:
#get todays date
today = dt.date.today()
print(today)

2019-05-25

In [25]:
#Subtract 100 days from todays date
delta = dt.timedelta(days = 100)
today - delta

datetime.date(2019, 2, 14)

**Map Functions:**  Map function returns a list of the results after applying the given function to each item of a given sequence. For example, let’s find the minimum value between two pairs of lists.

In [26]:
p = [1, 3, 5, 7, 9]
q = [0, 4, 6, 2, 8]
c = map(min, p, q)
for i in c:
    print(i)

0
3
5
2
8

**Lambda function** Lambda function is used for creating small, one-time and anonymous function objects in Python

In [27]:
function = lambda a, b, c: a+b+c
print(function(3,3,3))

9

**Filter function** Filter offers an easy way to filter out all the elements of a list. Filter (syntax : filter(function,list)) needs a function as its first argument, for which lambda can be used. As an example, let’s filter out only the numbers greater than 5 from a list

In [28]:
x = [2,4,5,7,8,9]
x2 = filter(lambda a: a>5, x)
print(list(x2))

[7, 8, 9]

**Reduce Functoin** Reduce is a function for performing some computation on a list and returning the result. It applies a rolling computation to sequential pairs of values in a list. As an example, let’s calculate the product of all the numbers in a list

In [29]:
from functools import reduce
y = [1,2,3,4,5]
reduce(lambda a, b: a*b, y)

120

**Zip function** Zip function returns a list of tuples, where the i-th tuple contains the i-th element from each of the sequences. Let’s look at an example

In [30]:
a = [1,2,3,4] #create two lists
b = [5,6,7,8]
c = zip(a,b) #Use the zip function
print(list(c))

[(1, 5), (2, 6), (3, 7), (4, 8)]

If the sequences used in the zip function is unequal, the returned list is truncated in length to the length of the shortest sequence.

In [31]:
a = [1,2]
b = [5,6,7,8]
c = zip(a,b)
print(list(c))

[(1, 5), (2, 6)]

**For loop** For loops are usually used when you have a block of code which you want to repeat a fixed number of times.

Let us use a for loop to print the list of even numbers from 1 to 100.

In [32]:
even =[]
for i in range(100):
  if i%2 == 0:
    even.append(i)
  else:
    None
print(list(even))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

**List comprehension** List comprehension provides an easier way to create lists. Continuing the same example, let’s create a list of even numbers from 1 to 100 using list comprehension.

In [33]:
even = [i for i in range(100) if i%2 == 0]
print(even)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

# Numpy Library

In [34]:
#import numpy
import numpy as np

In [35]:
#single dimentional array
np.array([1,2,3])

array([1, 2, 3])

In [36]:
#Multi dimentional array
a = np.array([[1,2,3], [4,5,6]])
a

array([[1, 2, 3],
       [4, 5, 6]])

In [37]:
#check the shape (rows and columns of the array)
a.shape

(2, 3)

In [38]:
#Create an evenly spaced array between 1 and 30 with a difference of 2
b = np.arange(1, 30, 2)
b

array([ 1,  3,  5,  7,  9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29])

In [39]:
# Reshape the above array into a desired shape
b.reshape(5,3)

array([[ 1,  3,  5],
       [ 7,  9, 11],
       [13, 15, 17],
       [19, 21, 23],
       [25, 27, 29]])

Generate an evenly spaced list between the interval 1 and 5. (Take a minute here to understand the difference between 'linspace' and 'arange')

In [40]:
c = np.linspace(1, 5, 20)
c

array([1.        , 1.21052632, 1.42105263, 1.63157895, 1.84210526,
       2.05263158, 2.26315789, 2.47368421, 2.68421053, 2.89473684,
       3.10526316, 3.31578947, 3.52631579, 3.73684211, 3.94736842,
       4.15789474, 4.36842105, 4.57894737, 4.78947368, 5.        ])

Now, change the shape of the array in place (‘resize’ function changes the shape of the array in place, unlike ‘reshape’)

In [41]:
c.resize(5,4)
c

array([[1.        , 1.21052632, 1.42105263, 1.63157895],
       [1.84210526, 2.05263158, 2.26315789, 2.47368421],
       [2.68421053, 2.89473684, 3.10526316, 3.31578947],
       [3.52631579, 3.73684211, 3.94736842, 4.15789474],
       [4.36842105, 4.57894737, 4.78947368, 5.        ]])

In [42]:
#Create an array with all elements as ones
d = np.ones((2,2))
d

array([[1., 1.],
       [1., 1.]])

In [43]:
#Create an array with all elements as zeros
e = np.zeros((3,3))
e

array([[0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.]])

In [44]:
#Create a diagonal matrix with diagonal values = 1
f = np.eye(4)
f

array([[1., 0., 0., 0.],
       [0., 1., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.]])

In [45]:
#Extract only diagonal values from an array
np.diag(f)

array([1., 1., 1., 1.])

In [46]:
#Create an array consist of repeating list
g = np.array([1,2,3]*5)
g

array([1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3])

In [47]:
#Repeat each element of array n number of times using repeat function
np.repeat([1,2,3],4)

array([1, 1, 1, 1, 2, 2, 2, 2, 3, 3, 3, 3])

In [48]:
#Generate two arrays of desired shape filled with random values between 0 and 1
g = np.random.rand(2,3)
print(g)
h = np.random.rand(2,3)
print(h)

[[0.9363066  0.46436926 0.75232894]
 [0.01467965 0.69288266 0.55368374]]
[[0.65762712 0.27989251 0.52365128]
 [0.59348617 0.25126805 0.48536056]]

In [49]:
#Stack the above two arrays vartically
i = np.vstack([h,g])
i

array([[0.65762712, 0.27989251, 0.52365128],
       [0.59348617, 0.25126805, 0.48536056],
       [0.9363066 , 0.46436926, 0.75232894],
       [0.01467965, 0.69288266, 0.55368374]])

In [50]:
# stack arrays horizontally
j = np.hstack([h,g])
j

array([[0.65762712, 0.27989251, 0.52365128, 0.9363066 , 0.46436926,
        0.75232894],
       [0.59348617, 0.25126805, 0.48536056, 0.01467965, 0.69288266,
        0.55368374]])

In [51]:
#Some array operations

k = np.random.rand(2,2)
l = np.random.rand(2,2)

print(k)
print(l)

[[0.56461965 0.08050166]
 [0.81486219 0.8106977 ]]
[[0.79220948 0.07953911]
 [0.25974942 0.18067558]]

In [52]:

#element wise addition
m = k+l
print("add = "+str(m))

add = [[1.35682914 0.16004077]
 [1.07461162 0.99137328]]

In [53]:


# element wise subtract
n = k - l
print("sub = "+str(n))

sub = [[-0.22758983  0.00096256]
 [ 0.55511277  0.63002212]]

In [54]:
#element wise power 3
p = k**3
print("power = "+ str(p))

power = [[1.79998122e-01 5.21692478e-04]
 [5.41068817e-01 5.32815459e-01]]

In [55]:
#dot product between two arrays
q =k.dot(l)
q

array([[0.4682073 , 0.05945403],
       [0.85611982, 0.21128669]])

In [56]:
#create new array and transpose it
a = np.array([[1,2],[3,4]])
a

array([[1, 2],
       [3, 4]])

In [57]:
#transpose the array
a.T

array([[1, 3],
       [2, 4]])

In [58]:
#check the datatype of elements in the array
b = a.astype('f')
b.dtype

dtype('float32')

In [59]:
#mathematical functions in array
#Summ of array
c = np.array([1,2,3,4,5])
c.sum()

15

In [60]:
#Max value in array
c.max()

5

In [61]:
# Mean value
c.mean()

3.0

In [62]:
#index of the maximum value
c.argmax()

4

In [63]:
#Create an array consisting of square of first ten whole numbers
d = np.arange(10)**2
d

array([ 0,  1,  4,  9, 16, 25, 36, 49, 64, 81], dtype=int32)

In [64]:
#Use negative sign to access variables in reverse
d[-1]

81

In [65]:
#Access certain elements of the array based on a step size
d[1:10:2] # d[start: stop: stepsize]

array([ 1,  9, 25, 49, 81], dtype=int32)

In [66]:
#Create a multidimentional array
e = np.arange(36)
e.resize(6,6)
e

array([[ 0,  1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10, 11],
       [12, 13, 14, 15, 16, 17],
       [18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34, 35]])

In [67]:
#access the second row and third column
e[1,2]

8

In [68]:
#Access 2nd row and columns 3 to 7. Note that the numbering of the row and columns starts with 0
e[1, 2:6]

array([ 8,  9, 10, 11])

In [69]:
#Select all rows till the 2 row and all culumns except last column
e[:2,:-1]

array([[ 0,  1,  2,  3,  4],
       [ 6,  7,  8,  9, 10]])

In [70]:
#Select values from array greater than 20
e[e>20]

array([21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35])

In [71]:
#Assign value of the array elements as 20 if the element value is greather than 20
e[e>20] = 20
e

array([[ 0,  1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10, 11],
       [12, 13, 14, 15, 16, 17],
       [18, 19, 20, 20, 20, 20],
       [20, 20, 20, 20, 20, 20],
       [20, 20, 20, 20, 20, 20]])

In [72]:
#To copy an array onto another variable, always use the copy function
f = e.copy()
f

array([[ 0,  1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10, 11],
       [12, 13, 14, 15, 16, 17],
       [18, 19, 20, 20, 20, 20],
       [20, 20, 20, 20, 20, 20],
       [20, 20, 20, 20, 20, 20]])

In [73]:
#Create an array with a set of random integer between 1 and 10. specify the array to be of shape 4*4
g= np.random.randint(1,10,(4,4))
g

array([[9, 9, 1, 4],
       [1, 5, 2, 9],
       [7, 3, 5, 6],
       [1, 9, 5, 8]])

# Pandas Library

**Pandas Series:** A Series is a one-dimensional data structure that can hold any data type such as integers and strings. It is similar to a list in Python.

In [74]:
#Import pandas library
import pandas as pd

In [75]:
#Create a list
name = ['Josim','Roni','Monir']
name

['Josim', 'Roni', 'Monir']

In [76]:
#Convert the list to the pandas series
name = pd.Series(name)
name

0    Josim
1     Roni
2    Monir
dtype: object

We can observe that a Pandas series shows the index along with the value in each position. Similarly, let’s create a dictionary and convert it to a Pandas series.

In [77]:
#Create a dictionary
sports = {'Cricket':'Bangladesh', 'Soccer': 'UK', 'Football':'Brazil'}
sports = pd.Series(sports)
sports

Cricket     Bangladesh
Soccer              UK
Football        Brazil
dtype: object

The ‘keys’ of the dictionary become the index in the series and the ‘values’ of the dictionary remain as the values of the series. Let’s understand this further by querying a Pandas series.

**Querying A Pandas Series**

In [78]:
#Access the value from the series using index number
sports.iloc[2]

'Brazil'

In [79]:
#Access the vlaue from the series using key
sports.loc['Football']

'Brazil'

In [80]:
#Sum up the values in a series
a=pd.Series([1,2,3])
np.sum(a)

6

In [81]:
#Add data to an existing series
a = pd.Series([1,2,3])
a.loc['City'] = ['Dhaka']
a

0             1
1             2
2             3
City    [Dhaka]
dtype: object

In [82]:
#Create a series with multiple values having same index
b = pd.Series(['a', 'b', 'c','d'], index = ['e', 'e', 'e', 'e'])
b

e    a
e    b
e    c
e    d
dtype: object

**Pandas Dataframe:** Dataframe is a 2 dimensional data structure with columns of different data types(string, integer, date etc)

In [83]:
#Create dataset with three columns - Name, Occupation and age
df1 = pd.DataFrame([{'Name' : 'John', 'Occupation' :  'Data Scientist', 'Age' : 25},
                    {'Name' : 'David', 'Occupation' :  'Analyst', 'Age' : 28},
                    {'Name' : 'Mark', 'Occupation' :  'Teacher', 'Age' : 30}],index=['1','2','3'] )
df1

   Age   Name      Occupation
1   25   John  Data Scientist
2   28  David         Analyst
3   30   Mark         Teacher

In [84]:
#Create a dataframe by appending tow series
s1 = pd.Series({'Name': 'Josim','Age':'27'})
s2 = pd.Series({'Name': 'Monir','Age':'24'})
df1 = pd.DataFrame([s1, s2], index = ['1', '2'])
df1

    Name Age
1  Josim  27
2  Monir  24

In [85]:
#Read csv file
iris = pd.read_csv('datasets/iris.csv')
iris.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [86]:
iris.to_csv('datasets/iris2.csv')

In [87]:
#check index of the iris dataset
iris.index.values

array([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,
        13,  14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,
        26,  27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,
        39,  40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,
        52,  53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,
        65,  66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,
        78,  79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,
        91,  92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103,
       104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116,
       117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129,
       130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142,
       143, 144, 145, 146, 147, 148, 149], dtype=int64)

In [88]:
b = iris.set_index('Id')
b.head()

    SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
Id
1             5.1           3.5            1.4           0.2  Iris-setosa
2             4.9           3.0            1.4           0.2  Iris-setosa
3             4.7           3.2            1.3           0.2  Iris-setosa
4             4.6           3.1            1.5           0.2  Iris-setosa
5             5.0           3.6            1.4           0.2  Iris-setosa

In [89]:
#Revert to the previous index
c = b.reset_index()
c.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [90]:
#Create a new dataframe to mearge with csv data
df2 = pd.DataFrame([{'Species':'Species 1', 'Name':'setosa'},
                   {'Species':'Species 2', 'Name':'versicolor'},
                   {'Species':'Species 3', 'Name':'virginiaca'}])
df2

         Name    Species
0      setosa  Species 1
1  versicolor  Species 2
2  virginiaca  Species 3

In [91]:
#Merge the above two datasets on the Name column by performing an inner join
df3 = pd.merge(c, df2, how = 'inner',left_on='Species', right_on= 'Species')
df3.head()

Empty DataFrame
Columns: [Id, SepalLengthCm, SepalWidthCm, PetalLengthCm, PetalWidthCm, Species, Name]
Index: []

**Aggregate Function**

In [92]:
iris.groupby('Species')['SepalLengthCm'].mean()

Species
Iris-setosa        5.006
Iris-versicolor    5.936
Iris-virginica     6.588
Name: SepalLengthCm, dtype: float64

In [93]:
#Average of all the numerical columns by species
iris.groupby('Species')[['SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm']].mean()

                 SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
Species
Iris-setosa              5.006         3.418          1.464         0.244
Iris-versicolor          5.936         2.770          4.260         1.326
Iris-virginica           6.588         2.974          5.552         2.026

In [94]:
a = iris.groupby('Species').agg({'SepalLengthCm':'mean', 'SepalWidthCm':'sum'})
a

                 SepalLengthCm  SepalWidthCm
Species
Iris-setosa              5.006         170.9
Iris-versicolor          5.936         138.5
Iris-virginica           6.588         148.7

In [95]:
a.rename(columns = {'SepalLengthCm':'Avg_SepalLength', 'SepalWidthCm':'Sum_SeapalWidth'})

                 Avg_SepalLength  Sum_SeapalWidth
Species
Iris-setosa                5.006            170.9
Iris-versicolor            5.936            138.5
Iris-virginica             6.588            148.7

**Filtering DataFram**

In [96]:
a = iris[(iris.SepalLengthCm > 7)]
a.head()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
102,103,7.1,3.0,5.9,2.1,Iris-virginica
105,106,7.6,3.0,6.6,2.1,Iris-virginica
107,108,7.3,2.9,6.3,1.8,Iris-virginica
109,110,7.2,3.6,6.1,2.5,Iris-virginica
117,118,7.7,3.8,6.7,2.2,Iris-virginica

In [97]:
#Subset the data based on two conditions
b =iris[(iris.SepalLengthCm >5) & (iris.PetalLengthCm > 6)]
b.head()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
105,106,7.6,3.0,6.6,2.1,Iris-virginica
107,108,7.3,2.9,6.3,1.8,Iris-virginica
109,110,7.2,3.6,6.1,2.5,Iris-virginica
117,118,7.7,3.8,6.7,2.2,Iris-virginica
118,119,7.7,2.6,6.9,2.3,Iris-virginica

In [98]:
#Subset the data by filtering on the Species column
c =iris[iris['Species'] == 'Iris-versicolor']
c.head()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
50,51,7.0,3.2,4.7,1.4,Iris-versicolor
51,52,6.4,3.2,4.5,1.5,Iris-versicolor
52,53,6.9,3.1,4.9,1.5,Iris-versicolor
53,54,5.5,2.3,4.0,1.3,Iris-versicolor
54,55,6.5,2.8,4.6,1.5,Iris-versicolor

In [99]:
# Filter again on the Species column but on two names
d = iris[iris['Species'].isin(['Iris-verginica', 'Iris-versicolor'])]
d.head()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
50,51,7.0,3.2,4.7,1.4,Iris-versicolor
51,52,6.4,3.2,4.5,1.5,Iris-versicolor
52,53,6.9,3.1,4.9,1.5,Iris-versicolor
53,54,5.5,2.3,4.0,1.3,Iris-versicolor
54,55,6.5,2.8,4.6,1.5,Iris-versicolor

In [103]:
#Descriptive statistics of numerical columns
iris.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [107]:
#Create column based on conditions using np
iris['SpealLength_Size'] = np.where(iris['SepalLengthCm'] >= 5, 'High', 'Low')
iris.head()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,SpealLength_Size
0,1,5.1,3.5,1.4,0.2,Iris-setosa,High
1,2,4.9,3.0,1.4,0.2,Iris-setosa,Low
2,3,4.7,3.2,1.3,0.2,Iris-setosa,Low
3,4,4.6,3.1,1.5,0.2,Iris-setosa,Low
4,5,5.0,3.6,1.4,0.2,Iris-setosa,High

In [108]:
#Another way to create column based on conditions (Using list comprehension)
iris['SepalLength_Size'] = ['High' if x >= 5 else 'Low' for x in iris['SepalLengthCm']]
iris.head()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,SpealLength_Size,SepalLength_Size
0,1,5.1,3.5,1.4,0.2,Iris-setosa,High,High
1,2,4.9,3.0,1.4,0.2,Iris-setosa,Low,Low
2,3,4.7,3.2,1.3,0.2,Iris-setosa,Low,Low
3,4,4.6,3.1,1.5,0.2,Iris-setosa,Low,Low
4,5,5.0,3.6,1.4,0.2,Iris-setosa,High,High

In [117]:
#Another way to create column based no conditions(Using pandas dataframe)
def size(row_number):
    if(row_number["SepalLengthCm"] >= 5):
        return 'High'
    else:
        return 'Low'
    
iris = iris.assign(SepalLength_Size = iris.apply(size, axis = 1))
iris.head()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,SpealLength_Size,SepalLength_Size,SepalLength_Sizes
0,1,5.1,3.5,1.4,0.2,Iris-setosa,High,High,High
1,2,4.9,3.0,1.4,0.2,Iris-setosa,Low,Low,Low
2,3,4.7,3.2,1.3,0.2,Iris-setosa,Low,Low,Low
3,4,4.6,3.1,1.5,0.2,Iris-setosa,Low,Low,Low
4,5,5.0,3.6,1.4,0.2,Iris-setosa,High,High,High

In [120]:
#Another way to create column based on condition (Using Lambda function)
iris['SepalLength_Size_L'] = a['SepalLengthCm'].map(lambda x: 'High' if x >= 5 else 'Low')
iris.head()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,SpealLength_Size,SepalLength_Size,SepalLength_Sizes,SepalLength_Size_L
0,1,5.1,3.5,1.4,0.2,Iris-setosa,High,High,High,High
1,2,4.9,3.0,1.4,0.2,Iris-setosa,Low,Low,Low,Low
2,3,4.7,3.2,1.3,0.2,Iris-setosa,Low,Low,Low,Low
3,4,4.6,3.1,1.5,0.2,Iris-setosa,Low,Low,Low,Low
4,5,5.0,3.6,1.4,0.2,Iris-setosa,High,High,High,High

In [122]:
#Access unique values of the column
iris['Species'].unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

**Cross Tab:** similar to pivot table in Excel

In [123]:
pd.crosstab(iris['Species'], a['SepalLength_Size'])

SepalLength_Size  High  Low
Species
Iris-setosa         30   20
Iris-versicolor     49    1
Iris-virginica      49    1

**Sorting Values**

In [124]:
#sort values by 'SepalLengthCm'
iris.sort_values('SepalLengthCm')

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,SpealLength_Size,SepalLength_Size,SepalLength_Sizes,SepalLength_Size_L
13,14,4.3,3.0,1.1,0.1,Iris-setosa,Low,Low,Low,Low
42,43,4.4,3.2,1.3,0.2,Iris-setosa,Low,Low,Low,Low
38,39,4.4,3.0,1.3,0.2,Iris-setosa,Low,Low,Low,Low
8,9,4.4,2.9,1.4,0.2,Iris-setosa,Low,Low,Low,Low
41,42,4.5,2.3,1.3,0.3,Iris-setosa,Low,Low,Low,Low
22,23,4.6,3.6,1.0,0.2,Iris-setosa,Low,Low,Low,Low
3,4,4.6,3.1,1.5,0.2,Iris-setosa,Low,Low,Low,Low
6,7,4.6,3.4,1.4,0.3,Iris-setosa,Low,Low,Low,Low
47,48,4.6,3.2,1.4,0.2,Iris-setosa,Low,Low,Low,Low
2,3,4.7,3.2,1.3,0.2,Iris-setosa,Low,Low,Low,Low
29,30,4.7,3.2,1.6,0.2,Iris-setosa,Low,Low,Low,Low
12,13,4.8,3.0,1.4,0.1,Iris-setosa,Low,Low,Low,Low
45,46,4.8,3.0,1.4,0.3,Iris-setosa,Low,Low,Low,Low
24,25,4.8,3.4,1.9,0.2,Iris-setosa,Low,Low,Low,Low
11,12,4.8,3.4,1.6,0.2,Iris-setosa,Low,Low,Low,Low
30,31,4.8,3.1,1.6,0.2,Iris-setosa,Low,Low,Low,Low
57,58,4.9,2.4,3.3,1.0,Iris-versicolor,Low,Low,Low,Low
106,107,4.9,2.5,4.5,1.7,Iris-virginica,Low,Low,Low,Low
34,35,4.9,3.1,1.5,0.1,Iris-setosa,Low,Low,Low,Low
9,10,4.9,3.1,1.5,0.1,Iris-setosa,Low,Low,Low,Low
37,38,4.9,3.1,1.5,0.1,Iris-setosa,Low,Low,Low,Low
1,2,4.9,3.0,1.4,0.2,Iris-setosa,Low,Low,Low,Low
40,41,5.0,3.5,1.3,0.3,Iris-setosa,High,High,High,High
26,27,5.0,3.4,1.6,0.4,Iris-setosa,High,High,High,High
49,50,5.0,3.3,1.4,0.2,Iris-setosa,High,High,High,High
35,36,5.0,3.2,1.2,0.2,Iris-setosa,High,High,High,High
43,44,5.0,3.5,1.6,0.6,Iris-setosa,High,High,High,High
60,61,5.0,2.0,3.5,1.0,Iris-versicolor,High,High,High,High
7,8,5.0,3.4,1.5,0.2,Iris-setosa,High,High,High,High
93,94,5.0,2.3,3.3,1.0,Iris-versicolor,High,High,High,High
...,...,...,...,...,...,...,...,...,...,...
58,59,6.6,2.9,4.6,1.3,Iris-versicolor,High,High,High,High
75,76,6.6,3.0,4.4,1.4,Iris-versicolor,High,High,High,High
86,87,6.7,3.1,4.7,1.5,Iris-versicolor,High,High,High,High
140,141,6.7,3.1,5.6,2.4,Iris-virginica,High,High,High,High
108,109,6.7,2.5,5.8,1.8,Iris-virginica,High,High,High,High
77,78,6.7,3.0,5.0,1.7,Iris-versicolor,High,High,High,High
65,66,6.7,3.1,4.4,1.4,Iris-versicolor,High,High,High,High
144,145,6.7,3.3,5.7,2.5,Iris-virginica,High,High,High,High
145,146,6.7,3.0,5.2,2.3,Iris-virginica,High,High,High,High
124,125,6.7,3.3,5.7,2.1,Iris-virginica,High,High,High,High
143,144,6.8,3.2,5.9,2.3,Iris-virginica,High,High,High,High
76,77,6.8,2.8,4.8,1.4,Iris-versicolor,High,High,High,High
112,113,6.8,3.0,5.5,2.1,Iris-virginica,High,High,High,High
139,140,6.9,3.1,5.4,2.1,Iris-virginica,High,High,High,High
141,142,6.9,3.1,5.1,2.3,Iris-virginica,High,High,High,High
52,53,6.9,3.1,4.9,1.5,Iris-versicolor,High,High,High,High
120,121,6.9,3.2,5.7,2.3,Iris-virginica,High,High,High,High
50,51,7.0,3.2,4.7,1.4,Iris-versicolor,High,High,High,High
102,103,7.1,3.0,5.9,2.1,Iris-virginica,High,High,High,High
129,130,7.2,3.0,5.8,1.6,Iris-virginica,High,High,High,High
125,126,7.2,3.2,6.0,1.8,Iris-virginica,High,High,High,High
109,110,7.2,3.6,6.1,2.5,Iris-virginica,High,High,High,High
107,108,7.3,2.9,6.3,1.8,Iris-virginica,High,High,High,High
130,131,7.4,2.8,6.1,1.9,Iris-virginica,High,High,High,High
105,106,7.6,3.0,6.6,2.1,Iris-virginica,High,High,High,High
122,123,7.7,2.8,6.7,2.0,Iris-virginica,High,High,High,High
118,119,7.7,2.6,6.9,2.3,Iris-virginica,High,High,High,High
117,118,7.7,3.8,6.7,2.2,Iris-virginica,High,High,High,High
135,136,7.7,3.0,6.1,2.3,Iris-virginica,High,High,High,High
131,132,7.9,3.8,6.4,2.0,Iris-virginica,High,High,High,High

In [125]:
#sort data by 'Species' first (in ascending order), than 'SepalLengthCm'(in descending order)
a.sort_values(['Species', 'SepalLengthCm'], ascending = [True, False])

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,SpealLength_Size,SepalLength_Size,SepalLength_Sizes
14,15,5.8,4.0,1.2,0.2,Iris-setosa,High,High,High
15,16,5.7,4.4,1.5,0.4,Iris-setosa,High,High,High
18,19,5.7,3.8,1.7,0.3,Iris-setosa,High,High,High
33,34,5.5,4.2,1.4,0.2,Iris-setosa,High,High,High
36,37,5.5,3.5,1.3,0.2,Iris-setosa,High,High,High
5,6,5.4,3.9,1.7,0.4,Iris-setosa,High,High,High
10,11,5.4,3.7,1.5,0.2,Iris-setosa,High,High,High
16,17,5.4,3.9,1.3,0.4,Iris-setosa,High,High,High
20,21,5.4,3.4,1.7,0.2,Iris-setosa,High,High,High
31,32,5.4,3.4,1.5,0.4,Iris-setosa,High,High,High
48,49,5.3,3.7,1.5,0.2,Iris-setosa,High,High,High
27,28,5.2,3.5,1.5,0.2,Iris-setosa,High,High,High
28,29,5.2,3.4,1.4,0.2,Iris-setosa,High,High,High
32,33,5.2,4.1,1.5,0.1,Iris-setosa,High,High,High
0,1,5.1,3.5,1.4,0.2,Iris-setosa,High,High,High
17,18,5.1,3.5,1.4,0.3,Iris-setosa,High,High,High
19,20,5.1,3.8,1.5,0.3,Iris-setosa,High,High,High
21,22,5.1,3.7,1.5,0.4,Iris-setosa,High,High,High
23,24,5.1,3.3,1.7,0.5,Iris-setosa,High,High,High
39,40,5.1,3.4,1.5,0.2,Iris-setosa,High,High,High
44,45,5.1,3.8,1.9,0.4,Iris-setosa,High,High,High
46,47,5.1,3.8,1.6,0.2,Iris-setosa,High,High,High
4,5,5.0,3.6,1.4,0.2,Iris-setosa,High,High,High
7,8,5.0,3.4,1.5,0.2,Iris-setosa,High,High,High
25,26,5.0,3.0,1.6,0.2,Iris-setosa,High,High,High
26,27,5.0,3.4,1.6,0.4,Iris-setosa,High,High,High
35,36,5.0,3.2,1.2,0.2,Iris-setosa,High,High,High
40,41,5.0,3.5,1.3,0.3,Iris-setosa,High,High,High
43,44,5.0,3.5,1.6,0.6,Iris-setosa,High,High,High
49,50,5.0,3.3,1.4,0.2,Iris-setosa,High,High,High
...,...,...,...,...,...,...,...,...,...
144,145,6.7,3.3,5.7,2.5,Iris-virginica,High,High,High
145,146,6.7,3.0,5.2,2.3,Iris-virginica,High,High,High
104,105,6.5,3.0,5.8,2.2,Iris-virginica,High,High,High
110,111,6.5,3.2,5.1,2.0,Iris-virginica,High,High,High
116,117,6.5,3.0,5.5,1.8,Iris-virginica,High,High,High
147,148,6.5,3.0,5.2,2.0,Iris-virginica,High,High,High
111,112,6.4,2.7,5.3,1.9,Iris-virginica,High,High,High
115,116,6.4,3.2,5.3,2.3,Iris-virginica,High,High,High
128,129,6.4,2.8,5.6,2.1,Iris-virginica,High,High,High
132,133,6.4,2.8,5.6,2.2,Iris-virginica,High,High,High
137,138,6.4,3.1,5.5,1.8,Iris-virginica,High,High,High
100,101,6.3,3.3,6.0,2.5,Iris-virginica,High,High,High
103,104,6.3,2.9,5.6,1.8,Iris-virginica,High,High,High
123,124,6.3,2.7,4.9,1.8,Iris-virginica,High,High,High
133,134,6.3,2.8,5.1,1.5,Iris-virginica,High,High,High
136,137,6.3,3.4,5.6,2.4,Iris-virginica,High,High,High
146,147,6.3,2.5,5.0,1.9,Iris-virginica,High,High,High
126,127,6.2,2.8,4.8,1.8,Iris-virginica,High,High,High
148,149,6.2,3.4,5.4,2.3,Iris-virginica,High,High,High
127,128,6.1,3.0,4.9,1.8,Iris-virginica,High,High,High
134,135,6.1,2.6,5.6,1.4,Iris-virginica,High,High,High
119,120,6.0,2.2,5.0,1.5,Iris-virginica,High,High,High
138,139,6.0,3.0,4.8,1.8,Iris-virginica,High,High,High
149,150,5.9,3.0,5.1,1.8,Iris-virginica,High,High,High
101,102,5.8,2.7,5.1,1.9,Iris-virginica,High,High,High
114,115,5.8,2.8,5.1,2.4,Iris-virginica,High,High,High
142,143,5.8,2.7,5.1,1.9,Iris-virginica,High,High,High
113,114,5.7,2.5,5.0,2.0,Iris-virginica,High,High,High
121,122,5.6,2.8,4.9,2.0,Iris-virginica,High,High,High
106,107,4.9,2.5,4.5,1.7,Iris-virginica,Low,Low,Low

In [ ]:
#check row data types
iris.dtypes

**Binning numerical columns**

In [129]:
bins = [0,1,2,3,4,5,6,7]
iris['bins'] = pd.cut(iris['SepalLengthCm'], bins)
iris.head()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,SpealLength_Size,SepalLength_Size,SepalLength_Sizes,SepalLength_Size_L,bins
0,1,5.1,3.5,1.4,0.2,Iris-setosa,High,High,High,High,"(5, 6]"
1,2,4.9,3.0,1.4,0.2,Iris-setosa,Low,Low,Low,Low,"(4, 5]"
2,3,4.7,3.2,1.3,0.2,Iris-setosa,Low,Low,Low,Low,"(4, 5]"
3,4,4.6,3.1,1.5,0.2,Iris-setosa,Low,Low,Low,Low,"(4, 5]"
4,5,5.0,3.6,1.4,0.2,Iris-setosa,High,High,High,High,"(4, 5]"

In [132]:
#count how many rows fall under each bucket using 'value_counts' function
iris['bins'].value_counts()

(5, 6]    57
(6, 7]    49
(4, 5]    32
(3, 4]     0
(2, 3]     0
(1, 2]     0
(0, 1]     0
Name: bins, dtype: int64